.main{
    position: absolute;
    background-image: url('https://images.pexels.com/photos/3802602/pexels-photo-3802602.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
     width: 100%;
     height: 100%;
     background-size: cover;
     top: 0;
     left: 0;
     
     
}

.outside{
    position: absolute;
    
}

  .inside{
    box-shadow: 2px 2px 4px rgb(155, 159, 155);
    border: 1px solid black;
    height: 97%;
    width: 20%;
    margin-left: -50%;
    transition: all 1s ease-in ;
    opacity: 0.8;
  }

  .heading{
    margin-left: 30px;
   
   
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .heading span{
    font-size: large;

  }
  .sidebar_menu{
    margin-top:70px;
  }

  .sidebar_menu div{
    height: 50px;
    width: 100%;
    margin-top: 10px;
   
    /* border: 1px solid rgb(145, 12, 12); */
}

i{
    color: white;
    font-size: 25px;
    margin-left: 15px;
}

i:hover{
    transform: scale(1.2,1.2);
}

.fa-bars{
    position: absolute;
    left:7px;
    top: 0;
    
}

a{
 text-decoration: none;
 font-size: 18px;
 padding-left: 10%;
 color: #f9f8f8;
}

.sidebar_menu div:hover{
  box-shadow: 2px 2px 10px rgb(85, 85, 85);
}

input:checked ~ .inside{
    margin-left: 0;
   
}

input:checked ~ .outside label i{
    opacity: 0;

}
